.flex,
.inline-flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.column {
    flex-direction: column;
  }
  &.j-start {
    justify-content: flex-start;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-start {
    align-items: flex-start;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
  .grow {
    flex-grow: 1;
  }
  &.wrap,
  .wrap {
    flex-wrap: wrap;
  }
}

.wrapper {
  padding: 0 30px;
}

.sticky {
  position: sticky;
  top: 40px;
  align-self: flex-start;
}

.cover img {
  height: 100%;
  width: 100%;
  object-position: center center;
  object-fit: cover;
}

.contain img {
  height: 100%;
  width: 100%;
  object-position: center center;
  object-fit: contain;
}
