// core
@import 'variables/index';
@import 'reset';
@import 'mixins';
@import 'utils';
@import 'animation';

// fonts
// @include font-face('Font name', '~assets/fonts/font_name/font_file', 400);

// common styles
body {
  font-family: $font-family-default;
  font-size  : $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  color      : $color-white;
  background : $fon;
}

* {
  // border: 1px solid red;
}

.container {
  max-width: 1280px;
  padding  : 0 59px;
  margin   : 0 auto;

  @media only screen and (max-width: 1280px) {
    max-width: 800px;
    padding  : 0;
  }

  @media only screen and (max-width: 800px) {
    max-width: 500px;
  }

  @media only screen and (max-width: 500px) {
    max-width: 320px;
  }
}

h1 {
  position: absolute;
  width   : 1px;
  height  : 1px;
  margin  : -1px;
  padding : 0;
  overflow: hidden;
  border  : 0;
  clip    : rect(0 0 0 0)
}

a {
  cursor: pointer;
}

button {
  border : none;
  outline: none;
  cursor : pointer;
}

ul {
  list-style-type: none;
}

.dog-button {
  padding         : 4px 12px;
  background-color: transparent;
  border          : 1px solid $color_blue;
  color           : $color_blue;
  border-radius   : 20px;

  &:hover {
    border: 1px solid $color-error;
    color : $color-error;
  }
}

.dogs-list {
  color      : $color-white;
  padding-top: 30px;

  &.active {
    .dogs-cart__svg {
      .svg-empty {
        display: none;
      }

      .svg-filled {
        display: block;
      }
    }
  }
}

.dogs-cart {
  display        : flex;
  gap            : 30px;
  flex-wrap      : wrap;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    gap: 20px;
  }

  @media only screen and (max-width: 500px) {
    gap            : 10px;
    justify-content: center;
  }

  &__item {
    position: relative;
    cursor  : pointer;
  }

  &__img {
    display      : block;
    width        : 367px;
    height       : 290px;
    border-radius: 10px;
    position     : relative;
    @include transition;

    @media only screen and (max-width: 800px) {
      height: 180px;
      width : 227px;
    }

    @media only screen and (max-width: 500px) {
      height: 175px;
      width : 290px;
    }

    &:hover {
      transform: scale(1.1);
      @include transition;
    }

    img {
      width          : 100%;
      height         : 100%;
      object-fit     : cover;
      object-position: center;
      border-radius  : 8px;
    }
  }

  &__hover {
    &:hover {
      @include transition;

      .dogs-cart__text {
        color: $color_blue;
        @include transition;
      }
    }
  }

  &__svg {
    width : 25px;
    height: 25px;
    fill  : $color-white;
    top   : 15px;
    left  : 15px;
    cursor: pointer;

    @media only screen and (max-width: 800px) {
      top   : 10px;
      left  : 10px;
      width : 20px;
      height: 18px;
    }

    @media only screen and (max-width: 500px) {
      width : 16px;
      height: 14px;
    }

  }

  &__text {
    position      : absolute;
    bottom        : 10px;
    right         : 15px;
    font-weight   : 600;
    font-size     : 25px;
    line-height   : 28px;
    letter-spacing: 0.01em;

    &::first-letter {
      text-transform: uppercase;
    }

    @media only screen and (max-width: 800px) {
      right      : 10px;
      font-size  : 16px;
      line-height: 18px;
    }

    @media only screen and (max-width: 500px) {
      font-size  : 14px;
      line-height: 16px;
    }
  }
}

.breedsection.active {
  span a  {
    animation: moveBreed 1s normal linear;
  }
}