$font-family-default: 'IBM Plex Sans', sans-serif;
$font-family-secondary:  Arial, sans-serif;

$font-size-default: 16px;
$line-height-default: 24px;

$font-weight-normal: 400;
$font-weight-bold: 700;
